$titleTransition = 0.7s

header
	hideselect()
	position fixed
	width 20%
	min-width 20rem
	left 0
	padding $padding ($padding/2)
	z-index 10
	+above($md + 1)
		align(vertical)
	+below($md)
		top 0
		left 0
		width 100%
		padding ($padding/2)
	h1
		display none
	#logo
		svg
			path
				fill $secondary
